
{% extends 'base.html' %}

{% block head %}
<title> About Data | Visualization Project 2 </title>

{% endblock %}

{% block body %}
<div class="container">
<main role="main">
    <div class="jumbotron" style="background-color: #d9fffb ; ">
      <div class="col-sm-8 mx-auto">
          <h2>Statlog (Australian Credit Approval) Data Set</h2>

          <p>
            Abstract: This file concerns credit card applications. This database exists elsewhere in the repository (Credit Screening Database) in a slightly different form<br><br>
            Data Set Information:<br>

            This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data.<br>

            This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.<br>
            This dataset is from the UCI Machine Learning Repository. Original page can be found <a href="http://archive.ics.uci.edu/ml/datasets/statlog+(australian+credit+approval)" target="_blank">here</a>.
          </p>
          <p>

              Attribute Information:<br><br>

                There are 6 numerical and 8 categorical attributes. The labels have been changed for the convenience of the statistical algorithms. For example, attribute 4 originally had 3 labels p,g,gg and these have been changed to labels 1,2,3.<br><br>

                A1: 0,1 CATEGORICAL (formerly: a,b)<br>
                A2: continuous.<br>
                A3: continuous.<br>
                A4: 1,2,3 CATEGORICAL (formerly: p,g,gg)<br>
                A5: 1, 2,3,4,5, 6,7,8,9,10,11,12,13,14 CATEGORICAL (formerly: ff,d,i,k,j,aa,m,c,w, e, q, r,cc, x)<br>
                A6: 1, 2,3, 4,5,6,7,8,9 CATEGORICAL (formerly: ff,dd,j,bb,v,n,o,h,z)<br>
                A7: continuous.<br>
                A8: 1, 0 CATEGORICAL (formerly: t, f)<br>
                A9: 1, 0 CATEGORICAL (formerly: t, f)<br>
                A10: continuous.<br>
                A11: 1, 0 CATEGORICAL (formerly t, f)<br>
                A12: 1, 2, 3 CATEGORICAL (formerly: s, g, p)<br>
                A13: continuous.<br>
                A14: continuous.<br>
                A15: 1,2 class attribute (formerly: +,-)<br>

          </p>

      </div>
    </div>
  </main>
</div>


{% endblock %}
