{% extends 'base.html' %}

{% block head %}
<title> Visualization Project 2 </title>
<script src="./static/{{taskJS}}.js"></script>
<style>

svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
  fill: black;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

</style>
{% endblock %}

{% block body %}
<div class="container">

<!-- <center>In Task {{taskJS}}</center> -->
<div id="Attribute">
    <span id="variable"></span>
</div>
<div id="svgElement">

</div>
<script>
var data = {{data | safe}};
{{taskJS}}(data);
</script>


{% endblock %}
